* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: black;
}

/* HEADER */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

header .btn {
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #4A4A4A;
  cursor: pointer;
}

/* MAIN */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  height: calc(100vh - 130px);  
}

.user {
  position: relative;
  width: 245px;
  height: 145px;
  margin: 3px;
}

.user .name {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 6px 4px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.4);
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #222222;
}

.footer-left, .footer-center, .footer-right { 
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.icon i {
  font-size: 27px;
  padding-bottom: 10px;
}

.icon .fa-chevron-up {
  font-size: 16px;
}

.icon.active {
  color: #32CA29;
}

.footer-right {
  color: #ED091E;
  background-color: #4A4A4A;
  height: 100%;
  padding: 20px;
  cursor: pointer;
}